{% extends "myapp/base.html" %}

{% block title %}Сбросить пароль{% endblock %}

{% block content %}
  <h1>Сбросить пароль</h1><hr><br>
  {% if validlink %}
    <p>Пожалуйста, введите новый пароль дважды:</p>
    <form method="post">
      {{ form.as_p }}
      {% csrf_token %}
      <p><input type="submit" value="Изменить пароль" /></p>
    </form>
  {% else %}
    <p>Ссылка для сброса пароля недействительна, возможно, потому, что она уже
был использован. Пожалуйста, запросите сброс нового пароля.</p>
  {% endif %}
{% endblock %}